@font-face {
  font-family: "iconfont"; /* Project id 3371062 */
  src: url('iconfont.woff2?t=1651660740004') format('woff2'),
       url('iconfont.woff?t=1651660740004') format('woff'),
       url('iconfont.ttf?t=1651660740004') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-duihuaxinxitianchong:before {
  content: "\e67a";
}

.icon-shouji:before {
  content: "\e625";
}

.icon-wodeshouhou:before {
  content: "\e673";
}

.icon-gerenzhongxin:before {
  content: "\e651";
}

.icon-huidingbu:before {
  content: "\e691";
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-F:before {
  content: "\e600";
}

.icon-tubiaozhizuomoban:before {
  content: "\e608";
}

.icon-16gl-F:before {
  content: "\eb86";
}

.icon-F_round_solid:before {
  content: "\e647";
}

.icon-shizhong:before {
  content: "\e630";
}

.icon-F_square:before {
  content: "\e62b";
}

.icon-rmb:before {
  content: "\e61b";
}

.icon-renminbi201:before {
  content: "\e6d2";
}

.icon-qiye:before {
  content: "\e646";
}

.icon-neicunka:before {
  content: "\e6ca";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-duanxin:before {
  content: "\e604";
}

.icon-duanxin1:before {
  content: "\e603";
}

.icon-arrow-right-circle:before {
  content: "\e665";
}

.icon-arrow-left-circle:before {
  content: "\e666";
}

.icon-direction-right:before {
  content: "\e66c";
}

.icon-direction-left:before {
  content: "\e66d";
}

.icon-comment:before {
  content: "\e956";
}

.icon-environment:before {
  content: "\e95c";
}

.icon-gift:before {
  content: "\e964";
}

.icon-left:before {
  content: "\e968";
}

.icon-login:before {
  content: "\e96a";
}

.icon-paper-clip:before {
  content: "\e96d";
}

.icon-play-circle:before {
  content: "\e96f";
}

.icon-right-circle:before {
  content: "\e975";
}

.icon-right:before {
  content: "\e976";
}

.icon-search:before {
  content: "\e977";
}

.icon-shopping-cart:before {
  content: "\e979";
}

.icon-tool:before {
  content: "\e97e";
}

.icon-weibo:before {
  content: "\e983";
}

